<% if (site.categories.length){ %>
<div class="categorieslist">
	<p class="asidetitle"><a href="/categories"><%= __('categories') %></a>
</p>
		<ul>
		<% site.categories.sort('name').each(function(item){ %>
			<li><a href="<%- config.root %><%- item.path %>" title="<%= item.name %>"><%= item.name %> <span class="badge"><%= item.posts.length %></span></a></li>
		<% }); %>
		</ul>
</div>
<% } %>
