<% if (site.tags.length){ %>
<div class="tagslist">
<p class="asidetitle">	<a href="/tags" ><%= __('tags') %></a></p>
		<ul class="clearfix">
		<% site.tags.sort('name').limit(20).each(function(item){ %>
			<li><a href="<%- config.root %><%- item.path %>" title="<%= item.name %>"><%= item.name %><sup>x<%= item.posts.length %></sup></a></li>
		<% }); %>
		</ul>
</div>
<% } %>
