<%
page.category = ' ';
%>
<div class="archive-title" >
	<h2 class="category-icon"><%= __('categories') %></h2>
	<div class="am-panel-group"" id="accordiontemp">

<nav class="scrollspy-nav" data-am-scrollspy-nav="{offsetTop: 45}" data-am-sticky>
  <ul>
	<% site.categories.sort('name').each(function(item){ %>
	<li><a data-src="<%- config.root %><%- item.path %>" href="#<%= item.name %>" title="<%= item.name %>"><%= item.name %><sup><%= item.posts.length %></sup></a></li>
	<% }); %>
  </ul>
</nav>
	<% site.categories.sort('name').each(function(item){ %>
	   <div class="am-panel am-panel-default" id="<%= item.name %>">
                         <div class="am-panel-hd">
                         <h4 class="am-panel-title" >
                                <a data-am-collapse="{parent: '#accordion', target: '#<%= item.name %>'}">
                                       <i class="icon-tag"></i> <%= item.name %>
                                </a>
                         </h4>
                        </div>

	   <ul id="<%= item.name %>" class="am-panel-collapse am-collapse am-in">
	      <div class="am-panel-bd">
		   <% site.posts.sort('date', -1).forEach(function(it){ %>
			   <% if (it.categories._index.indexOf(item._id) > -1){ %>
		   	   	 <li class="listing-item"><a href="<%= config.root %><%= it.path %>" class="linkurl" <% if (it.description) { %> title="<%= it.description %>" <% } %>><%= it.title %></a></li>
			  <% } %>
		   <% }); %>
		   </div>
	   </ul>
	</div>
	<% }); %>
	</ul>
    </div>
</div>

