<div id="footer" >
	<DIV style="DISPLAY: none" id=goTopBtn><IMG border=0 src="<%- config.root %>img/lanren_top.jpg"></DIV>
<div id="displayside"><img id="imgaside" border="0" src="<%- config.root %>img/noside.png" title="隐藏侧边栏"></div>

<SCRIPT type=text/javascript>
    $('body').show();
    $('.version').text(NProgress.version);
    NProgress.start();
    setTimeout(function() { NProgress.done(); $('.fade').removeClass('out'); }, 1000);
</SCRIPT>

  <script src="<%- config.root %>js/zoom.js"></script> 
	<% if(theme.author.intro_line1&&theme.author.intro_line2){ %>
	<section class="info">
		<p> <%= theme.author.intro_line1 %> <br/>
			<%= theme.author.intro_line2 %></p>
	</section>
	 <% } %>
	<div class="social-font" class="clearfix">
		<% if(theme.author.weibo){ %>
		<a href="http://weibo.com/<%= theme.author.weibo %>" target="_blank" title="weibo"></a>
		<% } %>
		<% if(theme.author.twitter){ %>
		<a href="https://twitter.com/<%=theme.author.twitter %>" target="_blank" title="twitter"></a>
		<% } %>
		<% if(theme.author.github){ %>
		<a href="https://github.com/<%=theme.author.github %>" target="_blank" title="github"></a>
		<% } %>
		<% if(theme.author.facebook){ %>
		<a href="https://www.facebook.com/<%=theme.author.facebook %>" target="_blank" title="facebook"></a>
		<% } %>
	</div>
		<p class="copyright">Powered by <a href="http://zespia.tw/hexo/" target="_blank" title="hexo">hexo</a> and <a href="https://github.com/" target="_blank" title="Pacman">Github</a> © <%= new Date().getFullYear() %> 
		<% if (config.author) { %>
		<a href="<%= config.url %>" target="_blank" title="<%= config.author %>"><%= config.author %></a>
		<% } else {%>
		<a href="<%= config.url %>" title="<%= config.title %>"><%= config.title %></a>
		<% } %>
		<a href="https://github.com/ForestCho/pacman-amaze-ui" title="form the theme">fork me on github</a>
		<script src="https://s95.cnzz.com/stat.php?id=1253083255&web_id=1253083255" language="JavaScript" ></script>
		</p>
</div>
